@import "tailwindcss";

/* Utility to hide visible scrollbars when desired */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
